html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #231f20;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  background: #231f20;
}

#load-status {
  position: absolute;
  color: white;
  font: 16px sans-serif;
  pointer-events: none;
}
